@charset "utf-8";
*{ margin:0; padding:0; list-style:none;}
	input[type="button"], 
	input[type="submit"], 
	input[type="reset"] 
	{
	-webkit-appearance: none;}
a{ text-decoration:none;} 	
.body,html{background:#fff; font-family:"\5FAE\8F6F\96C5\9ED1"; top:0px; bottom:0px; left:0px; right:0px; height:auto; }
.index_bj{width:100%; max-width:640px; min-width:320px; margin:0px auto; position:absolute; z-index:-2; top:0px; bottom:0px; left:0px; right:0px;}
.index_main{width:100%; top:120px; color:#FFF; position:absolute;}

.bj{width:100%; max-width:640px; min-width:320px; margin:0px auto; top:0px; bottom:0px; left:0px; right:0px;}

#main{width:100%; max-width:640px; min-width:320px; margin:0px auto; margin-left:auto; margin-right:auto; }
#main .index{ width:100%; margin:0px auto; text-align:center; margin-top:90%; max-width:640px; min-width:320px;}
#main .one{ width:100%;  margin:0px auto;}
.one a{color:#FFF; font-size:14px; line-height:30px;}
.logo{ width:95%; text-align:left; margin:5px auto;}
.msg{ width:100%; margin:0px auto; text-align:center; font-size:12px; color:#FFF; bottom:0px; position:fixed;} 

#main-text{ width:90%; margin:10px auto;  max-width:640px; min-width:320px;}
#main-text p{ text-align:left; line-height:30px; }
#main-text h3{ color:#333; text-align:center; line-height:50px; }
#main-text .text{width:100%; line-height:30px; }
#main-text .text p{ color:#333; line-height:30px; text-indent:2em;}
#main-text .back{ top:90%; bottom:0px; position:fixed; margin-left:80%; max-width:640px; min-width:320px;}

#list{width:100%; margin:10px auto;  max-width:640px; min-width:320px;}
#list .list{ width:100%; height:80px; border-bottom:#CCC 1px solid;}
#list .pic{ width:25%; height:80px; float:left; margin-left:5px;}
#list .text{ width:50%; text-align:left; margin-left:10px; float:left;}
#list .back{ width:10%; text-align:center; float:right; margin-top:20px;}
#list .text h3{ font-size:16px; color:#333; margin-top:10px; height:40px; width:320px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
#list .text p{ color:#666; height:30px;}

#main-text{ width:90%; margin:10px auto;  max-width:640px; min-width:320px;}
#main-text .big{ height:60px;}
.bigg{ height:40px;}
.left-name{ text-align:left; color:#666;}
.left-name-box{ margin-top:10px;}
.kuang{ width:100%; height:35px; border-radius:3px; color:#333; border:#999 1px solid;}
.ku{ width:100%; height:100px; border-radius:3px; color:#333;}
.xb{ width:15px; height:15px;}
#main-text .one{ width:100%; margin:0px auto; margin-top:10px;}
#main-text .two{ width:100%; height:40px; border:0px; background:#fc8649; border:#ff691c 1px solid; border-radius:3px; color:#FFF; font-size:14px;}

.pic{ width:100%; margin:0px auto; margin-top:10px; margin-bottom:10px; height:250px;}
.pic-left{ width:45%; height:auto; float:left; margin-top:10px; margin-bottom:10px;}
.pic-right{width:45%; height:auto; float:right; margin-top:10px; margin-bottom:10px;}
.up{ width:100%; border-radius:3px; height:180px; }
.down{ line-height:30px; margin-top:10px; height:50px; color:#333;}


h4{ line-height:70px;}
.list-1{ width:100%; margin-top:60px; height:auto; max-width:640px; min-width:320px; margin:0px auto; margin-left:auto; margin-right:auto;}
.list{ width:100%; height:80px; border-bottom:#CCC 1px solid; max-width:640px; min-width:320px; margin:0px auto; margin-left:auto; margin-right:auto;}
.text{ width:70%; text-align:left; margin-left:10px; float:left;}
.back{ width:20%; text-align:center; float:right; margin-top:25px;}
.text h3{ font-size:16px; color:#333; margin-top:10px; height:40px; width:320px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.text h4{ font-size:16px; color:#333; margin-top:10px; height:50px; width:320px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}

.tab{ width:100%; height:50px; background:#f0f0f4; border-bottom:#CCC 1px solid; top:0px;   max-width:640px; min-width:320px; margin:0px auto; margin-left:auto; margin-right:auto;}
.tab-left{ width:49%; float:left; text-align:center; line-height:50px;}
.tab-right{width:49%; float:right; text-align:center; line-height:50px;}
.zj{ width:1px; height:30px; background:#CCC; float:left; margin-top:10px;}
.tab-left:hover{ width:49%; float:left; text-align:center; line-height:50px; color:#00F;}
.tab-right:hover{width:49%; float:right; text-align:center; line-height:50px; color:#00F;}

#nav-main{ width:100%; margin:0px auto;  max-width:640px; min-width:320px; height:auto;}
#nav-main .nav{  width:100%; height:170px; background:#fff;  margin:0px auto;}
#nav-main .upp{ width:100%; height:50px; text-align:left;  line-height:50px; background:#f3f3f3; }
#nav-main .downn{background:#fff; width:100%; height:120px; border-bottom:#e9e7ef 1px solid; font-size:14px; }
#nav-main .picx{ width:33%; text-align:center; margin:0px auto; float:left; border-right:#e9e7ef 1px solid; padding-bottom:20px; padding-top:20px;}
#nav-main .picc{ width:33%; text-align:center; margin:0px auto; float:left; padding-bottom:20px; padding-top:20px;}
#nav-main .picx a{ color:#333;}
#nav-main .picc a{ color:#333;}

.lianximain{ width:100%; height:100%; margin:0px auto;}
.lianximain p{ width:90%; padding-left:20px; padding-top:20px;}